<!-- 
<b>Fish Button</b>
<p>basic:</p>
<button  fbtn (click)="myCallbackFunction()">primary</button>
<button primary fbtn (click)="myCallbackFunction()">primary</button>
<button secondary fbtn (click)="myCallbackFunction()">secondary</button>
<button warn fbtn (click)="myCallbackFunction()">warn</button>
<br>
<p>flat:</p>
<button flat primary fbtn (click)="myCallbackFunction()">primary</button>
<button flat secondary fbtn (click)="myCallbackFunction()">secondary</button>
<button flat warn fbtn (click)="myCallbackFunction()">warn</button>
<br>
<p>raise:</p>
<button raise primary fbtn (click)="myCallbackFunction()">primary</button>
<button raise secondary fbtn (click)="myCallbackFunction()">secondary</button>
<button raise warn fbtn (click)="myCallbackFunction()">warn</button>
<br>
<p>outline:</p>
<button outline primary fbtn (click)="myCallbackFunction()">primary</button>
<button outline secondary fbtn (click)="myCallbackFunction()">secondary</button>
<button outline warn fbtn (click)="myCallbackFunction()">warn</button>
<br>
<p>fab:</p>
<button fab primary fbtn (click)="myCallbackFunction()">primary</button>
<button fab secondary fbtn (click)="myCallbackFunction()">secondary</button>
<button fab  warn fbtn (click)="myCallbackFunction()">warn </button>
<br>
<p>minifab:</p>
<button minifab primary fbtn (click)="myCallbackFunction()">primary</button>
<button minifab secondary fbtn (click)="myCallbackFunction()">secondary</button>
<button minifab  warn fbtn (click)="myCallbackFunction()">warn </button>
<br>
<p>disabled:</p>
<button disabled primary fab fbtn (click)="myCallbackFunction()">primary</button>
<button disabled secondary fab fbtn (click)="myCallbackFunction()">secondary</button>
<button disabled primary  class='lastBtn' fab fbtn (click)="myCallbackFunction()">warn </button>

<br>
<br>
<b>Card:</b>
<br>
<br>
<fishcard width='100%' >
    <fc-header>
        <img topImg id='asd' src='https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg'/>
        <p title>123123</p>
    </fc-header>
    <fc-body>
        <p>asdadasdasdasdasdadsadasd</p>
    </fc-body>
    
</fishcard> -->

<fishmenu primary>
    <fmnbtns>
        <button primary fbtn style='padding:0'  (click)="myCallbackFunction()">
            <mat-icon style='width: 38px;height: 38px;line-height: 38px;font-size: 38px;'>perm_identity </mat-icon>
        </button>
        <button primary fbtn style='padding:0' (click)="myCallbackFunction()">
            <mat-icon style='width: 38px;height: 38px;line-height: 38px;font-size: 38px;'>search </mat-icon>
        </button>
    </fmnbtns>
</fishmenu>

