$theme: (
  primary: (
    main: #77a6f7,
    contrast: (
      main: #fff,
    ),
  )
  secondary:
  (
    main: #f7931e,
    contrast: (
      main: #fff,
    ),
  )
  warn:
  (
    main: #e3401b,
    contrast: (
      main: #fff,
    ),
  ),
);
