

<mat-dialog-content class="mat-typography"  >
  
<button style='float: right;'  mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
   <ng-content select='fmcontent'></ng-content>
</mat-dialog-content>
<mat-dialog-actions align="start" [style.paddingBottom.px]=30>
  <ng-content select='fmaction'></ng-content>
  <!-- <button color='primary' style='width: 140px;height: 40px;;font-size: 20px;' mat-flat-button >登录</button>
  <button color='primary' mat-button>还未注册？点击注册</button> -->
  <!-- <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions>

