@use "~@angular/material" as mat;

@include mat.core();

$primary: (
  Main: #77a6f7,
  Light: #77a6f7,
  Dark: #77a6f7,
  contrast: (
    Main: #f5f5f5,
    Light: #f5f5f5,
    Dark: #fff,
  ),
);
$accent: (
  Main: #f7931e,
  Light: #ffc453,
  Dark: #be6500,
  contrast: (
    Main: #fff,
    Light: #fff,
    Dark: #fff,
  ),
);

$warn: (
  Main: #e3401b,
  Light: #e3401b,
  Dark: #e3401b,
  contrast: (
    Main: #fff,
    Light: #fff,
    Dark: #fff,
  ),
);
$my-primary: mat.define-palette($primary, Main, Light, Dark);
$my-accent: mat.define-palette($accent, Main, Light, Dark);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
  )
);

@include mat.all-component-themes($my-theme);

.mat-dialog-container {
  box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%),
    0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
  background: #fff;
  color: black;
}
